@font-face {
  font-family: Timeless;
  src: url("../../Fonts/Normal/timeless/Timeless.ttf");
  /* newspaper, m */
}
@font-face {
  font-family: Quicksand;
  src: url("../../Fonts/Normal/quicksand/Quicksand.otf");
  /* perfect informal, l */
}
@font-face {
  font-family: Josefin;
  src: url("../../Fonts/Normal/josefin-sans/JosefinSans.ttf");
  /* Good but thin handwriting, m */
}
@font-face {
  font-family: Comfortaa;
  src: url("../../Fonts/Normal/comfortaa/Comfortaa.ttf");
  /* informal, l */
}
@font-face {
  font-family: Titillium;
  src: url("../../Fonts/Formal/titillium-web/TitilliumWeb-Regular.ttf");
  /* perfect formal, m */
}

/* #245069, #7c2e2e */

body {
  padding: 0px;
  margin: 0px;
  font-size: 100%;
  font-family: Titillium, Quicksand, "Segoe UI", Tahoma, Verdana, sans-serif;
}
main {
  display: flex;
  position: fixed;
  height: 100%;
  align-items: stretch;
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}

main > .cover {
  display: flex;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  background: white;
}
main > .cover.hide {
  display: none;
}

main > .cover i {
  font-size: 5em;
  color: #245069;
  /* color: #7c2e2e; */
  margin: auto;
  animation: spin 1s linear 0s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  11.99% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(45deg);
  }
  24.99% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  36.99% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(135deg);
  }
  49.99% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  61.99% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(225deg);
  }
  74.99% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  86.99% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(315deg);
  }
  99.99% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[v-cloak],
* [v-cloak] {
  opacity: 0;
}

@media only screen and (max-width: 799px) {
}
